<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>My Profile</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
	input[type=submit] {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	font: bold15px arial,sans-serif;
	text-shadow: none;
}
	
	</style>
​
​
</head>
​
<body>
		<header style="background-color: maroon; color: white;; height: 30px;">
		</header>
		<div>
			<a th:href="@{/customer/dashboard}">
				<button type="button" class="btn btn-primary">Dash Board</button>
			</a> <a th:href="@{/customer/createAccount}">
				<button type="button" class="btn btn-success">Create
					Account</button>
			</a> <a th:href="@{/customer/logout}">
				<button type="button" class="btn btn-warning">Logout</button>
			</a>
		</div>
​
	<div class="container">
		
​		 <h3>Add a Payee</h3>
		<span style="color: red;font-size: 18px;" th:utext="${message}"></span>
		<form method="post"  th:action="@{/customer/addPayee}">
			<label for="payeeName">Payee Name:</label><br> <input type="text" name="payeeName" ><br>
			<label for="payeeNickName">Payee Nick Name:</label><br> <input type="text" name="payeeNickName"><br> 
			<label for="payeeAccountNumber">Payee Account Number:</label><br> <input type="text" name="payeeAccountNo"><br>
			<label for="remarks">Remarks:</label><br> <input type="text" name="remarks"><br>
			<br> <input type="submit" value="Add New Payee" id="submit">
	​
​		</form>
​
​
		
		
	</div>
​
</body>
</html>