<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>My Profile</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
	input[type=submit] {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	font: bold15px arial,sans-serif;
	text-shadow: none;
}
	
	</style>
​
​
</head>
​
<body>
		<header style="height: 30px;background-color: maroon;color:white;">
		  Hello Mr. <span th:utext="${session.userSessionVO.username}" th:unless="${session == null}" style="font-weight: bold;"></span>
		   
		</header>
		
​
	<div class="container">
		<h3>Fund Transfer</h3>
		<div>
			<div>
        	<a th:href="@{/customer/dashboard}">
				<button type="button" class="btn btn-primary">Dash Board</button>
			</a>
		  	<a th:href="@{/customer/createAccount}"> 
		  		<button type="button" class="btn btn-success">Customer Account</button>
		  	</a>
		  	<a th:href="@{/customer/addPayee}"> 
		  		<button type="button" class="btn btn-secondary">Add Payee</button>
		  	</a>
		  	<a th:href="@{/customer/myProfile}"> 
		  		<button type="button" class="btn btn-primary">My Profile</button>
		  	</a>
			<a th:href="@{/customer/logout}"> 
				<button type="button" class="btn btn-warning">Logout</button>
			</a>
		</div>
		</div>
		
		<span style="color: red;font-size: 18px;" th:utext="${message}"></span>
​		 <form method="post"  th:action="@{/customer/transferFund}">
			<label for="payeeName">Payee Name:</label>
			<br> 
			  <select name="payeeAccountNo">
		         <option th:each="payeeVo : ${payeeList}" th:value="${payeeVo.payeeAccountNo}" th:text="${payeeVo.payeeName}" name="payeeAccountNo"></option>
		      </select >
			<br> <!-- TBD -->
			<label for="payeeNickName">Amount:</label><br> <input type="number" name="amount"><br> 
			<label for="remarks">Remarks:</label><br> <input type="text" name="remarks"><br>
			<br> <input type="submit" value="Transfer Amount" id="submit">
	​
​		</form>
	</div>
​
</body>
</html>